[submodule "sources/mainwp-child"]
    path = sources/mainwp-child
    url = https://github.com/mainwp/mainwp-child.git
    ignore = dirty

[submodule "sources/mainwp-dashboard"]
    path = sources/mainwp-dashboard
    url = https://github.com/mainwp/mainwp.git
    ignore = dirty
