/**
 * MainWP Light theme for Prism.js
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #1c1d1b;
    background: none;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 0.9em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 0;
    overflow: auto;
    border-radius: 4px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em .3em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #666666;
    font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string {
    color: #446200;
}

.token.punctuation,
.token.operator {
    color: #666666;
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
    color: #7fb100;
}

.token.atrule,
.token.keyword,
.token.attr-value {
    color: #4682b4;
}

.token.function,
.token.function-name {
    color: #7fb100;
}

.token.deleted {
    color: #ad0000;
}

.token.property,
.token.class-name,
.token.builtin {
    color: #4682b4;
}

.token.tag,
.token.selector,
.token.attr-name {
    color: #7fb100;
}

.token.important,
.token.regex {
    color: #ffd300;
}

.token.entity {
    cursor: help;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

/* Line Numbers */
.line-numbers .line-numbers-rows {
    border-right: 1px solid #e2e3e2;
}

.line-numbers-rows > span:before {
    color: #666666;
}

/* Line Highlight */
.line-highlight {
    background: rgba(127, 177, 0, 0.1);
}
